body {
  font-family: cursive;
}

.indexHead {
  background-image: url('https: //images.pexels.com/photos/460672/pexels-photo-460672.jpeg?cs=srgb&dl=pexels-pixabay-460672.jpg&fm=jpg');
  text-align: center;
  padding: 10px;

}