body {
  font-family: cursive;
  background-color: rgba(255, 192, 203, 0.541);
}

.indexHead {
  background-image: url('https://media.istockphoto.com/id/506716297/vector/london-skyline-vector.jpg?s=612x612&w=0&k=20&c=dC_5mlAnAd9h-IMISh-T48qgx0gF0qYVP57uJnTMYxs=');
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#info {
  margin: auto;
  padding: 10px;
  text-align: right;
  font-size: 25px;
  line-height: 1.5;
  color: white;
}

img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  float: left;
  padding: 10px;
}

.demo-list-three {
  width: 650px;
}

#lists {
  text-align: center;
  margin: auto;
  padding: 10px;

}

span {
  font-size: 30px;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
  margin: auto;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
  margin: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#pic1 {
  margin: auto;
  gap: 10px;
}

.question {
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}