body {
  font-family: cursive;
  background-color: white;
}

.indexHead {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR63Zw2ekHrsEdwxHI8a0QSOUR-O4pQH-puw&s');
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#info {
  margin: auto;
  padding: 10px;
  text-align: right;
  font-size: 25px;
  line-height: 1.5;
  color: #ffcad4;
}

img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  float: left;
  padding: 10px;
}

.demo-list-three {
  width: 650px;
}

#lists {
  text-align: center;
  margin: auto;
  padding: 10px;

}

span {
  font-size: 30px;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
  margin: auto;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
  margin: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#pic1 {
  margin: auto;
  gap: 10px;
}

.question {
  text-align: center;
}

.accordion {
  background-color: rgba(240, 128, 128, 0.815);
  color: black;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 10px;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 10px;
}

.active,
.accordion:hover {
  background-color: rgba(240, 128, 128, 0.507);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}